
@{
    ViewBag.Title = "EmployeeUpdate";
}

@Scripts.Render("~/bundles/jquery")

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Add/Delete Employees</h2>
            <h3>Below you can add or remove employees from the database.</h3>
            <hr />
        </div>
    </div>
    <div class="row">

        <div class="col-md-4" style="border: 1px solid;">
            <div class="col-md-12 text-center">
                <h3>Operations</h3>
            </div>
            <div class="col-md-12 text-center">
                <span id="addEmployeeButton" class="btn btn-primary">Add Employee</span>
                <span id="deleteEmployeeButton" class="btn btn-primary add-margin-top" style="margin-bottom: 20px;">Delete Employee</span>
            </div>
        </div>

        <div class="col-md-8" style="border: 1px solid;">
            <!-- Add Employee Form -->
            <div class="col-md-6 col-md-offset-3" id="addEmployeeForm">
                <form>
                    <div class="form-group">
                        <label for="newEmployeeNameBox">Employee Name:</label><br />
                        <input type="text" class="form-control" id="firstNameBox" placeholder="First Name" style="display: inline; width: 40%;" />
                        <input type="text" class="form-control" id="lastNameBox" placeholder="Last Name" style="display: inline; width: 40%;"/>
                    </div>
                    <div id="form-group">
                        <input type="text" id="idBox" class="form-control" style="display: none;"/>
                    </div>
                    <div class="form-group">
                        <label for="ssnBox">Employee's SSN</label>
                        <input type="text" id="ssnBox" placeholder="Format #########"class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="salaryBox">Employee's Salary</label>
                        <input type="text" id="salaryBox" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="managerSelect">Employee's Manager:</label>
                        <select id="managerSelect" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label for="departmentSelect">Employee's Department:</label>
                        <select id="departmentSelect" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label for="regionSelect">Employee's Region:</label>
                        <select id="regionSelect" class="form-control">
                            <option value="USA">USA</option>
                            <option value="CANADA">Canada</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="monthInput">Employee's Hire Date:</label><br />
                        <input type="text" class="form-control add-margin-top" placeholder="Month" id="monthInput" style="width: 20%; display: inline"/>
                        <input type="text" class="form-control add-margin-top" placeholder="Day" id="dayInput"style="width: 20%; display: inline;"/>
                        <input type="text" class="form-control add-margin-top" placeholder="Year" id="yearInput"style="width: 43%; display: inline;"/>
                    </div>
                    <span id="addEmployeeSubmit" class="btn btn-primary add-margin-top">Submit</span>
                </form>
            </div><!-- END Add Employee Form -->

            <!-- Delete Employee Form -->
            <div class="col-md-6 col-md-offset-3" id="deleteEmployeeForm">
                <div class="form-group">
                    <label for="employeeSelect">Select Employee To Delete:</label>
                    <select id="employeeSelect" class="form-control"></select>
                </div>
                <span id="deleteEmployeeSubmit" class="btn btn-primary add-margin-top">Submit</span>
            </div> <!-- END Delete Employee Form -->
        </div> 


        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#deleteEmployeeForm').hide();
        loadManagers();
        loadDepartments();
        getNextEmployeeId();
        loadEmployees();
    });

    $('#addEmployeeButton').click(function () {
        $('#deleteEmployeeForm').hide();
        $('#addEmployeeForm').show();
    });

    $('#deleteEmployeeButton').click(function () {
        $('#addEmployeeForm').hide();
        $('#deleteEmployeeForm').show();
    });

    // Query the database to find all managers when adding an employee.
    function loadManagers() {
        var query = "SELECT mgr.managerId, e.firstName, e.lastName FROM Manager mgr, Employee e WHERE mgr.employeeId = e.employeeId";
        // Ajax call to query database for all the manager information.
        $.ajax({
            url: "/Home/SelectQuery",
            type: "GET",
            datatype: "json",
            data: {query: query},
            success: function(data){
                var response = JSON.parse(data);
                // Display the result of the query as option in a select drop down.
                $.each(response, function (index, element) {
                    var managerName = response[index]['firstName'] + " " + response[index]['lastName'];
                    var managerId = response[index]['managerId'];
                    var option = new Option(managerName, managerId);
                    $('#managerSelect').append($(option));
                });
            },
            error: function (error) {
                console.log(error.statusText);
            }
        });
    };
    
    // Query the database to find all departments when adding an employee.
    function loadDepartments() {
        var query = "SELECT dept.deptName, dept.deptNum FROM salesdepartment dept";
        $.ajax({
            url: "/Home/SelectQuery",
            type: "GET",
            datatype: "json",
            data: { query: query },
            success: function (data) {
                var response = JSON.parse(data);
                $.each(response, function (index, element) {
                    var departmentName = response[index]['deptName'];
                    var departmentNum= response[index]['deptNum'];
                    var option = new Option(departmentName, departmentNum);
                    $('#departmentSelect').append($(option));
                })
            },
            error: function (err) {
                console.log(error.statusText);
            }
        });
    };

    // Query the database for all current employees to display a list of employee to delete
    function loadEmployees() {
        $('#employeeSelect').html("");
        var query = "SELECT e.employeeId, e.firstName, e.lastName FROM employee e WHERE e.employeeId NOT IN (SELECT m.employeeId FROM manager m, employee e2 WHERE m.employeeId = e2.employeeId)";
        $.ajax({
            url: "/Home/SelectQuery",
            type: "GET",
            datatype: "json",
            data: { query: query },
            success: function (data) {
                var response = JSON.parse(data);
                $.each(response, function (index, element) {
                    var employeeId = response[index]['employeeId'];
                    var firstName = response[index]['firstName'];
                    var lastName = response[index]['lastName'];
                    var option = new Option(firstName + " " + lastName, employeeId);
                    $('#employeeSelect').append($(option));
                })
            },
            error: function (err) {

            }
        });
    }

    function clearInputs() {
        $('#firstNameBox').val("");
        $('#lastNameBox').val("");
        $('#ssnBox').val("");
        $('#salaryBox').val("");
        $('#monthInput').val("");
        $('#dayInput').val("");
        $('#yearInput').val("");
    }

    // Query database to find unused ID when adding a new Employee
    function getNextEmployeeId() {
        var query = "SELECT (MAX(e.employeeId) + 1) as nextId FROM employee e";
        var nextId;
        $.ajax({
            url: "/Home/SelectQuery",
            type: "GET",
            datatype: "json",
            data: { query: query },
            success: function (data) {
                var result = JSON.parse(data);
                $('#idBox').attr('value', result[0]['nextId']);
            },
            error: function (err) {

            }
        });
    }

    // Given 3 input fields, construct a date string matching the SQL format.
    function getDate(monthField, dayField, yearField) {
        var month = $(monthField).val();
        var day = $(dayField).val();
        var year = $(yearField).val();

        // Check for invalid input.
        if (isNaN(month) || isNaN(day) || isNaN(year) || day.length > 2 || month.length > 2 || year.length != 4) {
            return -1;
        }

        // Add preceeding zero to values less than 10
        if (month < 10 && month.charAt(0) != 0) {
            month = '0' + month;
        }
        if (day < 10 && day.charAt(0) != 0) {
            day = '0' + day;
        }

        var selectedDate = [year, month, day].join('-');
        console.log(selectedDate);
        return selectedDate;
    };

    // Check if input is a valid number
    function isNumber(input) {
        if (isNaN(input) || input == "") {
            return false;
        }
        return true;
    }

    // Validate input for adding a new employee
    function validateInput(employeeId, hireDate, firstName, lastName, ssn, salary){
        if (hireDate == -1) {
            alert("Invalid date format, use MM/DD/YYY");
            return false;
        }

        if(firstName == "" || lastName == ""){
            alert("Invalid input for name, no blank inputs allowed.")
            return false;
        }

        if(!isNumber(salary)){
            alert("Invalid input for salary, please enter a number.")
            return false;
        }

        if(!isNumber(ssn) || ssn.length != 9){
            alert("Invalid input for SSN, please enter a 9 digit SSN with format #########")
            return false;
        }
        return true;
    }

    $('#addEmployeeSubmit').click(function () {
        // Gather input data
        var date = getDate('#monthInput', '#dayInput', '#yearInput');
        var salary = $('#salaryBox').val();
        var ssn = $('#ssnBox').val();
        var firstName = $('#firstNameBox').val();
        var lastName = $('#lastNameBox').val();
        var managerId = $('#managerSelect option:selected').val();
        var deptName = $('#departmentSelect option:selected').text();
        var region = $('#regionSelect option:selected').text();
        var employeeId = $('#idBox').attr('value');
        // Validate input
        if (!validateInput(employeeId, date, firstName, lastName, ssn, salary)) {
            return;
        }
        
        // Construct query
        var insertEmployeeQuery = "insert into employee (employeeId, hireDate, firstName, lastName, ssn, salary) values (" + employeeId + ", '" + date + "', '" + firstName + "', '" + lastName + "', " + ssn + ", " + salary + ");";
        var insertManagesQuery = "insert into manages(managerId, employeeId) values (" + managerId + ", " + employeeId + ");";
        var insertMemberOfQuery = "insert into memberof(employeeId, deptName) values (" + employeeId + ", '" + deptName + "');";
        var query = insertEmployeeQuery + " " + insertManagesQuery + " " + insertMemberOfQuery;

        // Perform ajax call to HomeController to insert new employee
        $.ajax({
            url: "/Home/InsertQuery",
            type: "POST",
            datatype: "json",
            data: { query, query },
            success: function (data) {
                if (data['result']) {
                    alert("Employee added!");
                    loadEmployees();
                    clearInputs();
                }
                else {
                    console.log("Callback success, but not added.");
                }
            },
            error: function (err) {
                console.log("Not added!");
            }
        });
    });

    $('#deleteEmployeeSubmit').click(function () {
        var employeeId = $('#employeeSelect option:selected').val();
        var query = "DELETE FROM employee WHERE employeeId=" + employeeId + ";";
        $.ajax({
            url: "/Home/DeleteQuery",
            type: "POST",
            datatype: "json",
            data: { query: query },
            success: function (data) {
                if (data['result']) {
                    loadEmployees();
                    alert("Employee has been deleted.");
                }
                else {
                    alert("ERROR SUCCESS");
                }
            },
            error: function (err) {
                alert("ERROR");
            }
        });
    });
</script>