
@{
    ViewBag.Title = "QuerySales";
}

@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/QueryTemplates.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Query Sales Information</h2>
            <h3>Below you can query various information about sales and products.</h3>
            <hr />
        </div>
    </div>

    <div class="row add-margin-top">
         <!-- QUERY DISPLAY SECTION -->
        <div class="col-md-4 text-center" style="border: 1px solid;" id="queryDisplaySection">
            <h3>Queries</h3>

            <!-- VIEW ALL GROSS SALES QUERY-->
            <div class="col-md-12">
                <span class="btn btn-primary" id="viewAllEmployeeTotals">View Gross Sales - All Employees</span>
            </div>

            <!-- VIEW SPECIFIC EMPLOYEE SALES QUERY-->
            <div class="col-md-12">
                <span class="btn btn-primary add-margin-top" id="viewSpecificEmployeeSales">View Gross Sales - Specific Employee</span>
            </div>

            <!-- EMPLOYEE ID INPUT BOX -->
            <div class="row col-md-12">
                <form>
                    <div class="form-group text-center col-md-11 col-md-offset-1">
                        <input type="text" class="form-control add-margin-top" placeholder="e.g 4" id="employeeIdGrossSales"/>
                    </div> 
                </form>
            </div>

            <!-- VIEW ALL EMPLOYEES QUERY-->
            <div class="col-md-12">
                <span class="btn btn-primary add-margin-top" id="viewSalesCountAllEmployees">View Number of Sales - All Employees</span>
            </div>

            <!-- VIEW ALL SALES BETWEEN DATES QUERY-->
            <div class="col-md-12">
                <span id="salesBetweenDates" class="btn btn-primary add-margin-top">Total Gross Sales - Between Dates</span>
            </div>
            <div class="col-md-12 add-margin-top">
                <form>
                    <input type="checkbox"  id="specificSalesmanCheckbox" style="display: inline;"/> Single Empl.
                    <input type="text" class="form-control" style="width: 40%; display: inline;" hidden placeholder="Employee ID e.g. 4" id="specificSalesmanID" />
                </form>
            </div>

            <!-- VIEW TOP SALESMAN QUERY-->
            <div class="col-md-12">
                <span class="btn btn-primary add-margin-top" id="topSalesmanButton">View Top Salesman - Between Dates</span>
            </div>
        
        <!-- ADD MORE QUERIES? BEST SELLING PRODUCT, LIST ALL PRODUCTS, LIST COST OF PRODUCTS ETC-->
           <br /> 
        </div> <!-- END queryDisplaySection -->

        <!-- RIGHT Section-->
        <div class="col-md-7 col-md-offset-1" id="resultsDisplaySection">
        <div class="row">
            <div class="col-md-12 text-center" style="border:1px solid;">
                <form>
                    <div class="form-group text-center col-md-12">
                        <strong>FROM:</strong>
                        <input type="text" class="form-control add-margin-top" placeholder="Month" id="fromMonthInput" style="width: 12%; display: inline"/>
                        <input type="text" class="form-control add-margin-top" placeholder="Day" id="fromDayInput"style="width: 12%; display: inline;"/>
                        <input type="text" class="form-control add-margin-top" placeholder="Year" id="fromYearInput"style="width: 16%; display: inline;"/>
                        <strong>  TO:</strong>
                        <input type="text" class="form-control add-margin-top" placeholder="Month" id="toMonthInput" style="width: 12%; display: inline"/>
                        <input type="text" class="form-control add-margin-top" placeholder="Day" id="toDayInput"style="width: 12%; display: inline;"/>
                        <input type="text" class="form-control add-margin-top" placeholder="Year" id="toYearInput"style="width: 16%; display: inline;"/>
                    </div>
                </form>
            </div>
        </div> 

         <!-- RESULTS DISPLAY SECTION -->
            <div class="row add-margin-top">
                <div class="col-md-12" style="border: 1px solid;">
                    <h3>Results</h3>
                    <div id="data"></div>
                </div>
            </div><!-- END RESULTS DISPLAY SECTION-->
    </div>
</div>

<script>

    $(document).ready(function () {
            $('#specificSalesmanID').hide();
            $('#specificSalesmanCheckbox').checked = false;
    });

    $('#specificSalesmanCheckbox').change(function () {
        if ($(this).is(':checked')) {
            $('#specificSalesmanID').show();
        }
        else {
            $('#specificSalesmanID').hide();
        }
    });

    // Get a list of all the employees and their gross sales amount.
    $('#viewAllEmployeeTotals').click(function () {
        var query = "SELECT s.employeeId, e.firstName, e.lastName, SUM(p.price * ps.quantity) AS GrossSalesTotal FROM Salesman s, Initiates i, ProductSale ps, ContainsProd cp, Product p, Employee e WHERE s.employeeId = i.employeeId AND e.employeeId = i.employeeId AND i.id = ps.id AND ps.id = cp.id AND cp.sku = p.sku GROUP BY s.employeeId";
        selectQuery(query);
    });

    // Get the gross sales total for a specific employee.
    $('#viewSpecificEmployeeSales').click(function () {
        var rawInput = $('#employeeIdGrossSales').val();
        var employeeId = getEmployeeID(rawInput);
        if (employeeId == -1) {
            alert("Invalid input for employeeID, must be an integer.");
            return;
        }
        var query = "SELECT e.firstName, e.lastName, SUM(p.price * ps.quantity) as GrossSales FROM Employee e, Salesman s, Initiates i, ProductSale ps, ContainsProd cp, Product p WHERE s.employeeId = i.employeeId AND e.employeeId = i.employeeId AND i.id = ps.id AND ps.id = cp.id AND cp.sku = p.sku AND s.employeeId = " + employeeId;
        selectQuery(query);
    });

    // Display the total number of sales for each employee.
    $('#viewSalesCountAllEmployees').click(function () {
        var query = "SELECT s.employeeId, e.firstName, e.lastName, Count(*) AS totalSales FROM Salesman s, Initiates i, ProductSale ps, Employee e WHERE s.employeeId = i.employeeId AND e.employeeId = i.employeeId AND i.id = ps.id GROUP BY s.employeeId";
        selectQuery(query);
    });

    $('#salesBetweenDates').click(function () {
        // Get the date range
        var fromDate = getDate('#fromMonthInput', '#fromDayInput', '#fromYearInput');
        var toDate = getDate('#toMonthInput', '#toDayInput', '#toYearInput');
        if (fromDate == -1 || toDate == -1) {
            alert("Invalid input for dates, use format MM/DD/YYY");
            return;
        }

        // Check if this is for all employees or specific employee.
        if ($('#specificSalesmanCheckbox').is(':checked')) {
            var employeeId = $('#specificSalesmanID').val();
            if (!checkIsNum(employeeId) || employeeId == "") {
                alert("Invalid input for employeeID, must be an integer.");
                return;
            }
            var query = "SELECT e.employeeId, e.firstName, e.lastName, SUM(p.price * ps.quantity) AS totalSales FROM Salesman s, Initiates i, ProductSale ps, ContainsProd cp, Product p, Employee e WHERE s.employeeId = i.employeeId AND e.employeeID = i.employeeId AND i.id = ps.id AND ps.id = cp.id AND cp.sku = p.sku AND s.employeeId = " + employeeId + " AND i.dt between '" + fromDate + "' AND '" + toDate + "'";
            selectQuery(query);
        }
        else {
            var query = "SELECT s.employeeId, e.firstName, e.lastName, SUM(p.price * ps.quantity) AS totalSalesDollers FROM Salesman s, Initiates i, ProductSale ps, ContainsProd cp, Product p, Employee e WHERE s.employeeId = i.employeeId AND e.employeeId = i.employeeId AND i.id = ps.id AND ps.id = cp.id AND cp.sku = p.sku AND i.dt between '" + fromDate + "' AND '" + toDate + "' GROUP BY s.employeeId";
            selectQuery(query);
        }
    });

    $('#topSalesmanButton').click(function () {
        var fromDate = getDate('#fromMonthInput', '#fromDayInput', '#fromYearInput');
        var toDate = getDate('#toMonthInput', '#toDayInput', '#toYearInput');
        if (fromDate == -1 || toDate == -1) {
            alert("Invalid input for dates, use format MM/DD/YYY");
            return;
        }
        var query = "SELECT s.employeeId, e.firstName, e.lastName, SUM(p.price * ps.quantity) AS totalSalesDollers FROM Salesman s, Initiates i, ProductSale ps, ContainsProd cp, Product p, Employee e WHERE s.employeeId = i.employeeId AND e.employeeId = i.employeeId AND i.id = ps.id AND ps.id = cp.id AND cp.sku = p.sku AND i.dt BETWEEN '" + fromDate + "' AND '" + toDate + "' GROUP BY s.employeeId ORDER BY SUM(p.price * ps.quantity) desc limit 1"
        selectQuery(query);
    });

    // Check if input is a number
    function checkIsNum(value) {
        if (isNaN(value)) {
            return false;
        }
        return true;
    }

    // Given 3 input fields, construct a date string matching the SQL format.
    function getDate(monthField, dayField, yearField) {
        var month = $(monthField).val();
        var day = $(dayField).val();
        var year = $(yearField).val();

        // Check for invalid input.
        if(isNaN(month) || isNaN(day) || isNaN(year) || day.length > 2 || month.length > 2 || year.length != 4){
            return -1;
        }

        // Add preceeding zero to values less than 10
        if(month < 10 && month.charAt(0) != 0){
            month = '0' + month;
        }
        if(day < 10 && day.charAt(0) != 0){
            day = '0' + day;
        }
        
        var selectedDate = [year, month, day].join('-');
        console.log(selectedDate);
        return selectedDate;
    }


    // Validate that ID is an integer. 
    function getEmployeeID(id) {
        // If it's not a number, is blank or not an integer, return -1
        if (isNaN(id) || id == "" || Math.floor(id) != id) {
            return -1;
        }
        // Input was an integer, return the id.
        return id;
    }


</script>

